---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <!-- Flex Container -->
        <div class="profile-container" style="display: flex; align-items: center;">
          <div class="profile" style="flex: 0 0 200px;"> <!-- Fix the width of the image container to 200px -->
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: '/assets/img/people/' %}
              <!-- All images will be square and have the same class -->
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              <!-- Set the image size to be 200px by 200px -->
              <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" style="width: 200px; height: 200px; object-fit: cover;" alt="Profile image">
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>
          <!-- Flex Item for Content -->
          <div class="profile-content" style="flex: 1; padding-left: 20px;"> <!-- Maintain padding to separate text from image -->
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
